.emoji-bounce {
  display: inline-block;
  animation: bounce 1.2s infinite;
}

.currenttime{
 font-weight: 900;
 color: blue;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
}
